<% if user_signed_in? %>
<div class="jumbotron">
	<h1>What's up!</h1>
<% else %>
<div class="jumbotron">
	<h1>Hi! Welcome to "Just Say Hi".</h1>
	<p class="lead">
		Just say Hi, is a project to connect people to the individuals they would otherwise passby.
    <%= link_to "Sign Up Now", new_user_registration_path, class: "btn btn-info btn-large" %>
	</p>
</div>
</div>

<% end %>