<div class="jumbotron">
	<h1>Hi! Welcome to "Just Say Hi".</h1>
	<p class="lead">
		Just say Hi, is a project to connect people to the individuals they would otherwise passby.
	</p>
	<p>
		<%= link_to "Sign Up Now", "#", class: "btn btn-warning btn-large" %>
	</p>
</div>