$baseFontFamily: Patrick Hand SC;
@import url(http://fonts.googleapis.com/css?family=Patrick+Hand+SC);

$navbarBackgroundHighlight: black;
$navbarBackground: black;
$navbarBrandColor: #3AA1BF;
$navbarLinkColor: #3AA1BF;
$navbarLinkColorHover: white;


@import 'bootstrap';

body {
	padding-top: 60px;
}

@import 'bootstrap-responsive';

.navbar-inner{
    @include box-shadow(none !important);
    border: 0;
}

.footer {

	margin-top: 360px;
    color: #3AA1BF;
    a{
        color: $gray;
    }

    a:hover { color: #3AA1BF; }

}

.jumbotron {

text-align: center;

}

.jumbotron h1 {
font-size: 72px;
line-height: 1;
}

.lead {
margin-bottom: 20px;
font-size: 21px;
font-weight: 200;
line-height: 30px;
}

html { 
     background-image: url('https://www.dropbox.com/s/bm2ii8wu0i33ga5/background%20copy.jpg');
     background-repeat: repeat; 
 }
