$baseFontFamily: Bilbo Swash Caps;
@import url(http://fonts.googleapis.com/css?family=Bilbo+Swash+Caps|Economica);

$navbarBackgroundHighlight: black;
$navbarBackground: black;
$navbarBrandColor: #3AA1BF;
$navbarLinkColor: #3AA1BF;
$navbarLinkColorHover: white;


@import 'bootstrap';

body {
	padding-top: 300px;
	background-image: image-url("bb.jpg")
}

@import 'bootstrap-responsive';

.navbar-inner{
    @include box-shadow(none !important);
    border: 0;
}

.jumbotron {

text-align: center;

}



.jumbotron h1 {
font-size: 72px;
line-height: 1;
color: #3AA1BF;
}

.lead {
margin-bottom: 20px;
font-size: 40px;
font-weight: 200;
line-height: 30px;
color: $white;
}

.footer {

	margin-top: 300px;
	margin-right: 100px;
    color: #3AA1BF;
    a{
        color: $white;
    }
    a:hover { color: #3AA1BF; }
}