<div class="footer pull-right">
	<small>
		<%= link_to "PuzzlePiecez", "http://thepuzzlepiecez.tumblr.com/" %>
    by <%= link_to "Whitney Washington", "http://www.whitneywashington.com/" %>
	</small>

</div>